* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:#F6F6F6 ;
}


.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F6F6;
}

.container {
  width: 940px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
    margin-bottom: 40px;
}

.quotes {
    margin-top: 20px;
}

h3 {
    font-size: 35px;
}

ul {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

li {
    padding-top: 20px;
    margin-left: 80px;
}

#avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url(img/avatar.jpg) no-repeat -115px 0;
    background-size: auto 300px;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons img{
    width: 40px;
    height: 40px;
}

.links-text{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 2px;
}

#social {
    margin-top: 40px;
}

#tatakae {
    font-weight: bold;
}

a {
    text-decoration: none;
}